body{
    margin: 0;
    padding: 0;
}
input{
    background-color: white;
    border: solid black 1px;
    text-align: center;
}



#divContenido{
    width: 100%;
    min-width: 600px;
    height: auto;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.seccionesContenido{
    margin: 10px 0;
}



#divEncabezado{
    height: auto;

    border: solid black 1px;
    background-color: darkgray;
}



#divCalculo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    height: auto;

    background-color: white;
}
.seccionesCalculo{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 25%;
    height: auto;
    padding: 20px;

    border: solid black 1px;
    background-color: darkgray;
}
.seccionesCalculo p{
    margin: 0;
}
#divBotones button{
    height: 40px;
    margin: 10px 0;
    
    font-size: 20px;
}
#btnBorrar{
    color: brown;
    font-weight: bold;
}



#divRegistros{
    display: flex;
    flex-direction: column;

    height: auto;
    padding: 0 30px 30px 30px;

    border: solid black 1px;
    background-color: darkgray;
}
.columna{
    display: flex;
    flex-direction: row;
    justify-content: center;

    height: 30px;

    border: solid black 1px;
    background-color: cornsilk;
}
.columna p{
    margin: 5px;
    width: 16%;

    text-align: center;
}

#divColumnas{
    font-weight: bold;
    font-size: 20px;
}